<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ignotum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B8AA2C420449C5B005B48F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B8AA2DC20449C5B005B48F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B8AA2E720449C5B005B48F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
